/Grafos/Algoritmo de Dijkstra/__pycache__
/Grafos/Algoritmo de Tremaux/__pycache__
/Grafos/Grafo_Aula/Biblioteca/__pycache__
/Processamento de Imagens/videos/new_video.mp4
/Processamento de Imagens/videos/video_cinza.avi
